:root{
  --body-dark: #00193B;
  --input-border: #354585;
  --body-darker: #25305f;
  --button-color: #4F89FC;
}
#header{
  background-color: var(--body-dark);
  color: white!important;
}
.navItem{
  color: white!important;
}
.title{
  color: gray;
}
#header .nav_close_btn, .nav_btn, .sign_out_btn{
  color: white!important;
}
.button_admin{
  color: white;
  background-color: var(--body-dark);
  transition: 0.4s;
}
.button_admin:hover{
  color: white;
  background-color: var(--button-color);
}

.button_blue {
  background-color: #1739B0;
}

.body_signin_signup{
  background-image: linear-gradient(#1739B0, #787586);
}
#sign_in_left_side,
#sign_up_container {
  background-color: black;
}

.link {
  color: white !important;
}

#user_name,
#password,
#email,
#phone_number,
#confirm_password {
  background-color: transparent;
  border-color: white;
  color: white;
}